$cyan: #00a095;
$bleunoir: #111a21;

body{
    margin: 0;
    font-family: 'avenir-lt-pro', 'avenir', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: clamp(14px, 3.5vw, 16px);

    .main{
        position: relative;
        width: 100%;
        max-width: 1280px;
        margin: 5vw auto;
        padding: 0 5vw;
        box-sizing: border-box;

        .resume{
            .title{
                font-weight: 800;
                font-size: 1.8em;
                color: $cyan;
                margin: 1.5em 0 0 30%;
                line-height: 1.2;
            }
            .entry{
                display: flex;
                flex-direction: row;
                align-items: first baseline;
                gap: 1.2em;


                .date{
                    font-style: italic;
                    font-weight: 200;
                    text-transform: lowercase;
                    width: calc(30% - 1.2em);
                    text-align: right;
                }

                .job{
                    width: fit-content;
                    width: 70%;

                    .job-name{
                        margin: 0;
                        font-weight: 800;
                    }

                    .job-description{
                        margin: 0.25em 0;
                        font-weight: 500;
                    }

                    .job-list{
                        margin: 0;
                        padding: 0 0 0 1em;

                        .mission{
                            margin: 0.25em 0 0;
                        }
                    }
                }
            }
        &.competence{
            .date{
                text-transform: none;
            }
            .competence-list{
                font-weight: 800;
                margin: 0;
                width: 70%;
            }
        }
        }
    
    }
}